html{
    }

    body{
    }
    .container{
    }
    .msg{
    color:blueviolet;
    }
    .msgCtn{
    margin: 1rem 0;
    color: white;
    padding: 1rem 1rem;
    background-color: blueviolet;
    border-radius: .2rem;
    }
    .msgForm{
    }
    .input{
    border:none;
    border-radius: .5rem;
    background-color:aliceblue;
    }
    .input:focus{
    background-color:white;
    }
    .btn{
    justify-content:center;
    align-items:center;
    background-color:blueviolet;
    color: whitesmoke;
    border:none;
    }
    