<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/index2.css">
    <link rel="icon" href="./static/favicon.png" type="image/png" />
    <title>Minimlist chat App</title>
</head>

<body>
    <div class="container">
        <form id="msgForm" class="msgForm">
            <input name="amplitude" type="text" placeholder="Send message" class="input" id="amplitude" />
            <input name="frequency" type="text" placeholder="Send message" class="input" id="frequency" />
            <input type="submit" class="btn" value="Send">
        </form>
        <p class="msg">Log:</p>
        <p id="log"></p>
        <div id="messages" class="messages"></div>
    </div>
    <script type="text/javascript" src="static/mylibrary.js"></script>
</body>

</html>



<!-- https://stackoverflow.com/questions/1255948/post-data-in-json-format -->